In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#players_total = purchase_data.count()
#players_total
Total = purchase_data["SN"].nunique()
Totals = pd.DataFrame({"Total": [Total]})
Totals

   Total
0    576

In [4]:
#Calculate
Unique_Items = purchase_data["Item ID"].nunique()
average_price = purchase_data["Price"].mean()
num_purchases = purchase_data["Purchase ID"].count()
revenue = purchase_data["Price"].sum()
#DataFrame
New_df= pd.DataFrame({"Number of Unique Items":[Unique_Items], 
                      "Average Price" : [average_price], 
                      "Number of Purchases" : [num_purchases], 
                      "Total Revenue" : [revenue] })
#Clean reformat
New_df["Average Price"]=New_df["Average Price"].map("${:,.2f}".format)
New_df["Total Revenue"]=New_df["Total Revenue"].map("${:,.2f}".format)
New_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [5]:
genders_purchase = purchase_data.groupby("Gender").nunique()["SN"]
percent = genders_purchase/Total*100

NewGender_df=pd.DataFrame({"Total count":genders_purchase,
                         "Percent of Player":percent})

NewGender_df["Percent of Player"]=NewGender_df["Percent of Player"].map("{:,.2f}%".format)
print(genders_purchase)
print(percent)
NewGender_df

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64
Gender
Female                   14.062500
Male                     84.027778
Other / Non-Disclosed     1.909722
Name: SN, dtype: float64

                       Total count Percent of Player
Gender
Female                          81            14.06%
Male                           484            84.03%
Other / Non-Disclosed           11             1.91%

In [9]:
#= usa_ufo_df["state_countsstate"].value_counts()
T = purchase_data.groupby(["Gender"])
T_count = T["Purchase ID"].count()

Total_value = T["Price"].sum()
#Total_value=Total_value.map("${:,.2f}".format)

Average = T["Price"].mean()
Average=Average.map("${:,.2f}".format)

Average_person=Total_value/genders_purchase
Average_person=Average_person.map("${:,.2f}".format)

T_count
Total_value
Average
Gender_Purchase_df=pd.DataFrame({"Purchase Count":T_count,
                                 "Average Purchase Price":Average,
                                 "Total Purchase Value": Total_value,
                                 "Avg Total Purchase per Person":Average_person})

Gender_Purchase_df["Total Purchase Value"]=Gender_Purchase_df["Total Purchase Value"].map("${:,.2f}".format)
Gender_Purchase_df
#Average_person
#T_df=pd.DataFrame({"Gender": [T]})
#T_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [15]:
age_bins=[0-9,9-14,14-19,19-24,24-29,29-34,34-39,39-90]
age_labels=['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
purchase_data["Group Age"]=pd.cut(purchase_data["Age"], age_bins, labels=age_labels)
purchase_data

ValueError: bins must increase monotonically.